html {
    margin-left: 17%;
    margin-right: 17%;
    background-color: #0f1f5f;
}


body {
    height: 100%;
    margin: 0;
    font-family: 'Inria Sans', sans-serif;
    background-color: #1E3799;
}

header {
    background-color: #0C2461;
    display: flex;
    flex-direction: row;
    flex: 1;

    .logo {
        display: flex;
        flex: 1;
        align-items: center;
        padding-left: 1em;
    }

    .menu {
        flex: 1.4;

        ul {
            display: flex;
            flex-direction: row;
            gap: 1.313rem;
            list-style-type: none;
            color: white;
            align-items: center;

            .menu-white-bar {
                width: 2px;
                background-color: white;
                height: 4em;
            }
            
            li {
                a {
                    text-decoration: none;
                    color: white;
                    font-size: 1.3em;
    
                    &:hover {
                        color: #6A89CC; 
                    }
                }
            }
        }
    }
}

.content {
    display: flex;
    flex-direction: column;
    gap: 15em;


    #accueil {
        display: flex;
        flex-direction: row;
        .accueil-left-content {
            flex: 1;

            .image-fond {
                margin: 0;
            }
            .ma-tete {
                border: 2px solid #0C2461;
                border-bottom-color: white;
                border-right-color: white;
                width: 500px;
                border-bottom-right-radius: 70%;
            }
        }

        .accueil-right-content{
            flex: 1.5;
            color: white;
            display: flex;
            align-items: center;
            justify-content: space-evenly;
            flex-direction: column;
            padding-right: 1em;

            h1 {
                font-size: 4em;
                text-align: center;
            }

            h2 {
                text-align: center;
                font-size: 1.5em;
                strong {
                    color: #6A89CC;
                }
            }
        }
    }

    #WAI {
        color: white;

        h1 {
            font-size: 2em;
            padding-left: 0.2em;
        }
        .text {
            text-align: center;
            padding-left: 25%;
            padding-right: 25%;
            font-size: 1.5em;
        }
    }

    #skills {
        color: white;
        display: flex;
        flex-direction: column;

        h1 {
            font-size: 2em;
            padding-left: 0.2em;
        }

        .fleche {
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;

            p{
                font-size: 1.6em;
            }

            svg {
                width: 2em;
                animation: moveArrow 1s alternate-reverse infinite;
            }
        }

        .skills-list {
            display: flex;
            flex-direction: column;

            .first-line-skills {
                display: flex;
                flex-direction: row;
                justify-content: space-evenly;
            }

            .second-line-skills {
                display: flex;
                flex-direction: row;
                justify-content: space-evenly;
            }
        }
    }
}

footer {
    display: flex;
    flex-direction: row;
    align-items: flex-end;

    > p {
        color: #6A89CC;
        flex: 1;
        margin-left: 1em;
        font-size: 1.4em;
    }

    .social-medias {
        flex: 1;
        color: white;
        font-size: 1.4em;
        display: flex;
        flex-direction: column;
        align-items: center;
        
        ul {
            list-style-type: none;
            display: flex;
            flex-direction: row;
            
            li {
                a {
                    img {
                        width: 4em;
                    }

                    .Linkedin {
                        width: 7.5em;
                    }
                }
            }
        }
    }
}

@media (max-width: 1300px) {
    html {
        margin:0;
    }

    body {
        margin: 0;
    }
}

@keyframes moveArrow {
    from {
        transform: translateY(-10px);
    }
    to {
        transform: translateY(55px);
    }
}

