html {
  margin-left: 17%;
  margin-right: 17%;
  background-color: #0f1f5f;
}

body {
  height: 100%;
  margin: 0;
  font-family: "Inria Sans", sans-serif;
  background-color: #1E3799;
}

header {
  background-color: #0C2461;
  display: flex;
  flex-direction: row;
  flex: 1;
}
header .logo {
  display: flex;
  flex: 1;
  align-items: center;
  padding-left: 1em;
}
header .menu {
  flex: 1.4;
}
header .menu ul {
  display: flex;
  flex-direction: row;
  gap: 1.313rem;
  list-style-type: none;
  color: white;
  align-items: center;
}
header .menu ul .menu-white-bar {
  width: 2px;
  background-color: white;
  height: 4em;
}
header .menu ul li a {
  text-decoration: none;
  color: white;
  font-size: 1.3em;
}
header .menu ul li a:hover {
  color: #6A89CC;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 15em;
}
.content #accueil {
  display: flex;
  flex-direction: row;
}
.content #accueil .accueil-left-content {
  flex: 1;
}
.content #accueil .accueil-left-content .image-fond {
  margin: 0;
}
.content #accueil .accueil-left-content .ma-tete {
  border: 2px solid #0C2461;
  border-bottom-color: white;
  border-right-color: white;
  width: 500px;
  border-bottom-right-radius: 70%;
}
.content #accueil .accueil-right-content {
  flex: 1.5;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
  padding-right: 1em;
}
.content #accueil .accueil-right-content h1 {
  font-size: 4em;
  text-align: center;
}
.content #accueil .accueil-right-content h2 {
  text-align: center;
  font-size: 1.5em;
}
.content #accueil .accueil-right-content h2 strong {
  color: #6A89CC;
}
.content #WAI {
  color: white;
}
.content #WAI h1 {
  font-size: 2em;
  padding-left: 0.2em;
}
.content #WAI .text {
  text-align: center;
  padding-left: 25%;
  padding-right: 25%;
  font-size: 1.5em;
}
.content #skills {
  color: white;
  display: flex;
  flex-direction: column;
}
.content #skills h1 {
  font-size: 2em;
  padding-left: 0.2em;
}
.content #skills .fleche {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.content #skills .fleche p {
  font-size: 1.6em;
}
.content #skills .fleche svg {
  width: 2em;
  animation: moveArrow 1s alternate-reverse infinite;
}
.content #skills .skills-list {
  display: flex;
  flex-direction: column;
}
.content #skills .skills-list .first-line-skills {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.content #skills .skills-list .second-line-skills {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

footer {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
}
footer > p {
  color: #6A89CC;
  flex: 1;
  margin-left: 1em;
  font-size: 1.4em;
}
footer .social-medias {
  flex: 1;
  color: white;
  font-size: 1.4em;
  display: flex;
  flex-direction: column;
  align-items: center;
}
footer .social-medias ul {
  list-style-type: none;
  display: flex;
  flex-direction: row;
}
footer .social-medias ul li a img {
  width: 4em;
}
footer .social-medias ul li a .Linkedin {
  width: 7.5em;
}

@media (max-width: 1300px) {
  html {
    margin: 0;
  }
  body {
    margin: 0;
  }
}
@-webkit-keyframes moveArrow {
  from {
    transform: translateY(-10px);
  }
  to {
    transform: translateY(50px);
  }
}
@keyframes moveArrow {
  from {
    transform: translateY(-10px);
  }
  to {
    transform: translateY(50px);
  }
}/*# sourceMappingURL=main.css.map */